<h1>Raffle</h1>
<p>Welcome to the Oregon Lottery Raffle simulation.</p>
<h2>Odds</h2>
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>PRIZE</th>
      <th>NUMBER OF PRIZES</th>
      <th>ODDS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>$1 MILLION</td>
      <td>1</td>
      <td>1:250,000</td>
    </tr>
    <tr>
      <td>$500</td>
      <td>300</td>
      <td>1:833</td>
    </tr>
    <tr>
      <td>$100</td>
      <td>1,500</td>
      <td>1:167</td>
    </tr>
  </tbody>
</table>
<h2>Simulate</h2>
<p>Choose number of tickets per drawing, cost is $10 per ticket, drawings are once a year. Simulation will run until you win the grand prize of 1 million dollars.</p>
<div class="mb-3">
  <form [formGroup]="simulationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div>Number of Tickets per drawing: {{simulationForm.value.numberTickets.toLocaleString()}}</div>
      <div class="mb-3">Total cost per drawing: ${{(simulationForm.value.numberTickets * 10).toLocaleString()}}</div>
      <label for="number-tickets">Number of Tickets per drawing</label>
      <input type="number" class="form-control" id="number-tickets" formControlName="numberTickets">
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!simulationForm.valid || runningSimulation">
      <span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true" *ngIf="runningSimulation"></span>Submit
    </button>
  </form>
</div>

<div class="d-flex flex-wrap mb-3">
  <div *ngFor="let drawing of drawings; index as index;" class="border p-2 rounded m-1" [ngClass]="{'border-success': drawing.secondPlaceWinningNumbers.length || drawing.thirdPlaceWinningNumbers.length}">
    <h3 class="h5">Drawing Number {{index + 1}}</h3>
    <!--<h3>My Numbers</h3>-->
    <!--<p>{{drawing.myNumbers}}</p>-->

    <div>Winning Number: {{drawing.winningNumber}}</div>
    <div>Second place wins: {{drawing.secondPlaceWinningNumbers.length}}</div>
    <div>Third place wins: {{drawing.thirdPlaceWinningNumbers.length}}</div>
    <!--<h3>Second Place Numbers</h3>-->
    <!--<p>{{drawing.secondPlaceNumbers}}</p>-->
    <!--<h3>Third Place Numbers</h3>-->
    <!--<p>{{drawing.thirdPlaceNumbers}}</p>-->
  </div>
</div>

<h2 *ngIf="hasWon()">You won a million dollars!</h2>
<div *ngIf="hasWon()">Total amount won: ${{totalAmountWon.toLocaleString()}}</div>
<div *ngIf="hasWon()">You spent: ${{(drawings.length * simulationForm.value.numberTickets * 10).toLocaleString()}}</div>
<div *ngIf="hasWon()">Net Amount: ${{(totalAmountWon - (drawings.length * simulationForm.value.numberTickets * 10)).toLocaleString()}}</div>

<button type="button" class="btn btn-primary mt-5" (click)="scrollToTop()" *ngIf="hasWon()">Scroll to top</button>

<span class="spinner-grow mr-2" role="status" aria-hidden="true" *ngIf="runningSimulation"></span>