<h1>Raffle</h1>
<p>Welcome to the Oregon Lottery Raffle simulation.</p>
<h2>Odds</h2>
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>PRIZE</th>
      <th>NUMBER OF PRIZES</th>
      <th>ODDS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>$1 MILLION</td>
      <td>1</td>
      <td>1:250,000</td>
    </tr>
    <tr>
      <td>$500</td>
      <td>300</td>
      <td>1:833</td>
    </tr>
    <tr>
      <td>$100</td>
      <td>1,500</td>
      <td>1:167</td>
    </tr>
  </tbody>
</table>
<h2>Simulate</h2>
<p>Choose number of tickets per drawing, cost is $10 per ticket, drawings are once a year. Simulation will run until you win the grand prize of 1 million dollars.</p>
<form [formGroup]="simulationForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="number-tickets">Number of Tickets per drawing<span *ngIf="simulationForm.value.numberTickets">: {{simulationForm.value.numberTickets}},</span>
      <span *ngIf="simulationForm.value.numberTickets"> Total cost per drawing: ${{simulationForm.value.numberTickets * 10}}</span>
    </label>
    <input type="number" class="form-control" id="number-tickets" formControlName="numberTickets">
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!simulationForm.valid || runningSimulation">
    <span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true" *ngIf="runningSimulation"></span>
    Submit
  </button>
</form>

<div *ngFor="let drawing of drawings; let index = index;">
  <h3>Drawing Number {{index + 1}}</h3>
  <h3>My Numbers</h3>
  <p>{{drawing.myNumbers}}</p>
  <h3>Winning Number</h3>
  <p>{{drawing.winningNumber}}</p>
  <h3>Second Place Numbers</h3>
  <p>{{drawing.secondPlaceNumbers}}</p>
  <h3>Third Place Numbers</h3>
  <p>{{drawing.thirdPlaceNumbers}}</p>
</div>

